@import url(vendor/bootstrap.min.css);
@import url(vendor/normalize.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
body {
  font-size: 16px; }

h1, .h1 {
  color: #FFFFFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 1.2222222222em; }
  @media (min-width: 768px) {
    h1, .h1 {
      font-size: 4.5rem;
      line-height: 1.0833333333em; } }

h2, .h2 {
  color: #022F40;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.1428571429em; }
  @media (min-width: 768px) {
    h2, .h2 {
      font-size: 3.25rem;
      line-height: 1.2307692308em; } }

h3, .h3 {
  color: #022F40;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.375em; }

h4, .h4 {
  color: #022F40;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4166666667em;
  margin-top: 0.4166666667em;
  margin-bottom: 0.4166666667em; }

h5, .h5 {
  color: #022F40;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }
  @media (min-width: 768px) {
    h5, .h5 {
      font-size: 1.25rem;
      line-height: 1.5em; } }

h6, .h6 {
  color: #022F40;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3333333333em; }

p {
  color: #022F40;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em; }
  p.sm {
    font-size: 0.875rem;
    line-height: 1.5714285714em; }
  p.xs {
    font-size: 0.75rem;
    line-height: 1.5em; }

.button-primary {
  color: #FFFFFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  padding: 19px 15px;
  min-width: 180px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid #FF6542;
  background-color: #FF6542;
  text-align: center;
  color: #FFFFFF; }
  .button-primary:hover {
    text-decoration: none;
    color: inherit; }
  @media (min-width: 768px) {
    .button-primary {
      font-size: 1.125rem;
      margin-top: 1.3333333333em;
      margin-bottom: 1.3333333333em; } }
  .button-primary:hover {
    border: 2px solid #FF7E61;
    background-color: #FF7E61;
    color: #FFFFFF; }
  .button-primary:focus {
    background-color: #FF5A36;
    border: 2px solid #FF5A36;
    color: #FFFFFF; }

.button-secondary {
  color: #FFFFFF;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  padding: 19px 15px;
  min-width: 180px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 2px;
  border: 2px solid #FFFFFF; }
  .button-secondary:hover {
    text-decoration: none;
    color: inherit; }
  @media (min-width: 768px) {
    .button-secondary {
      font-size: 1.125rem;
      margin-top: 1.3333333333em;
      margin-bottom: 1.3333333333em; } }
  .button-secondary:hover {
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
    color: #2AB7CA; }

form {
  padding: 48px 0; }
  form .form-group {
    text-align: left; }
  form label {
    font-size: 0.9375rem;
    line-height: 1.6em; }
  form input[type="text"] {
    border-radius: 2px;
    padding: 10px 16px; }
  form button[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  @media (min-width: 768px) {
    form {
      padding: 48px 40px; } }

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark p {
  color: #FFFFFF; }

.content {
  z-index: 1; }

.no-padding-mobile {
  padding-left: 0;
  padding-right: 0; }

.nav {
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
  z-index: 2; }
  .nav .brand-logo {
    width: 123px;
    padding-top: 10px;
    padding-bottom: 10px; }

.slidedown {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(129, 129, 129, 0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(129, 129, 129, 0.5);
  box-shadow: 0px 2px 2px 0px rgba(129, 129, 129, 0.5); }
  .slidedown p {
    margin-right: 35px;
    margin-left: 35px; }
  @media (max-width: 767px) {
    .slidedown .company-logo {
      padding-right: 0;
      max-width: 100%; }
      .slidedown .company-logo .brand-logo {
        padding-left: 5px; } }
  @media (max-width: 767px) {
    .slidedown .cta {
      padding-left: 0; } }
  .slidedown .button-primary {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    padding: 14px; }
    @media (min-width: 768px) {
      .slidedown .button-primary {
        min-width: 180px;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 19px; } }

.hero {
  min-height: 537px;
  position: relative;
  text-align: center;
  background: #022F40 url("../images/backgrounds/m/hero-bg-2x.jpg");
  background-position: center;
  background-size: cover;
  color: #FFFFFF; }
  @media (min-width: 768px) {
    .hero {
      min-height: 755px;
      background: #022F40 url("../images/backgrounds/hero-bg.jpg");
      background-position: center;
      background-size: cover; } }

.vert-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; }
  @media (min-width: 768px) {
    .vert-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1; } }

.gradient-overlay::after {
  content: "";
  display: table-cell;
  background-image: linear-gradient(236.6453805369deg, rgba(5, 92, 116, 0.31), #022F40);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.logos {
  padding-top: 24px;
  padding-bottom: 24px; }
  .logos img {
    width: 80px;
    margin: 8px auto;
    display: block; }
    @media (min-width: 768px) {
      .logos img {
        width: 106px;
        margin: 42px auto 52px;
        display: block; } }

.about {
  padding-top: 113px;
  padding-bottom: 50px; }
  .about .item {
    padding-top: 25px;
    padding-bottom: 25px; }
    @media (min-width: 768px) {
      .about .item {
        padding: 90px 40px 43px; } }
  .about .cloud img {
    margin-top: 13px;
    margin-bottom: 28px; }
  .about .cells img {
    margin-top: 13px;
    margin-bottom: 25px; }
  .about .tv img {
    margin-top: 0px;
    margin-bottom: 20px; }
  @media (min-width: 768px) {
    .about {
      padding-top: 50px;
      padding-bottom: 50px; } }

.signup {
  position: relative;
  text-align: center;
  background: #022F40 url("../images/backgrounds/m/signup-bg-2x.jpg");
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  padding: 50px 0; }
  @media (min-width: 768px) {
    .signup {
      min-height: 755px;
      background: #022F40 url("../images/backgrounds/signup-bg.jpg");
      background-position: center;
      background-size: cover;
      padding: 96px 0 129px; }
      .signup .banner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1; }
      .signup h2 {
        margin-bottom: 60px; } }
  .signup .bg-overlay {
    background-color: rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=main.css.map */
