@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Colors
$white: #FFFFFF;
$ivory: #FAFAFA;
$orange: #FF6542;
$navy: #022F40;
$teal: #00798C;
$aqua: #2AB7CA;

// Typography
$open-sans: 'Open Sans', Arial, sans-serif;
