@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Colors
$white: #FFFFFF;
$orange: #FF6542;
$navy: #022F40;

// Typography
$open-sans: 'Open Sans', Arial, sans-serif;
