// General
.dark {
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}

.content {
  z-index: 1;
}

.no-padding-mobile {
  padding-left: 0;
  padding-right: 0;
}

// Navigation

.nav {
  background-color: rgba(0,0,0,0.4);
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 2;

  .brand-logo {
    width: 123px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

// Hero
.hero {
  min-height: 537px;
  position: relative;
  text-align: center;
  background: $navy url('../images/backgrounds/m/hero-bg-2x.jpg');
  background-position: center;
  background-size: cover;
  color: $white;

  @include sm {
    min-height: 755px;
    background: $navy url('../images/backgrounds/hero-bg.jpg');
    background-position: center;
    background-size: cover;
  }
}

.vert-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  @include sm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}

.gradient-overlay::after {
  content: "";
  display: table-cell;
  background-image: linear-gradient(236.64538053694753deg,rgba(5,92,116,0.31), $navy);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Logos
.logos {
  padding-top: 24px;
  padding-bottom: 24px;

  img {
    width: 80px;
    margin: 8px auto;
    display: block;

    @include sm {
      width: 106px;
      margin: 42px auto 52px;
      display: block;
    }
  }
}

// About
.about {
  padding-top: 113px;
  padding-bottom: 50px;

  .item {
    padding-top: 25px;
    padding-bottom: 25px;

    @include sm {
      padding: 90px 40px 43px;
    }
  }

  .cloud img {
    margin-top: 13px;
    margin-bottom: 28px;
  }

  .cells img {
    margin-top: 13px;
    margin-bottom: 25px;
  }

  .tv img {
    margin-top: 0px;
    margin-bottom: 20px;
  }

  @include sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

// Signup
.signup {
  // min-height: 537px;
  position: relative;
  text-align: center;
  background: $navy url('../images/backgrounds/m/signup-bg-2x.jpg');
  background-position: center;
  background-size: cover;
  color: $white;
  padding: 50px 0;

  @include sm {
    min-height: 755px;
    background: $navy url('../images/backgrounds/signup-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 96px 0 129px;

    .banner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    h2 {
      margin-bottom: 60px;
    }
  }

  .bg-overlay {
    background-color: rgba(0,0,0,0.2);
  }
}
