body {
  font-size: 16px;
}

h1, .h1 {
  color: $white;
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(36);
  line-height: em-calc(44,36);

  @include sm {
    // Per style guide
    // font-size: rem-calc(72);
    // line-height: em-calc(78,72);
    // Per comp
    font-size: rem-calc(52);
    line-height: em-calc(64,52);
  }
}

h2, .h2 {
  color: $navy;
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(28);
  line-height: em-calc(32,28);

  @include sm {
    font-size: rem-calc(52);
    line-height: em-calc(64,52);
  }
}

h3, .h3 {
  color: $navy;
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(32);
  line-height: em-calc(44,32);
}

h4, .h4 {
  color: $navy;
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(24);
  line-height: em-calc(34,24);
  margin-top: em-calc(10,24);
  margin-bottom: em-calc(10,24);
}

h5, .h5 {
  color: $navy;
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(16);
  line-height: em-calc(24,16);
  margin-top: em-calc(24,20);
  margin-bottom: em-calc(24,20);

  @include sm {
    font-size: rem-calc(20);
    line-height: em-calc(30,20);
  }
}

h6, .h6 {
  color: $navy;
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(18);
  line-height: em-calc(24,18);
}

p {
  color: $navy;
  font-family: $open-sans;
  font-weight: 400;
  font-size: rem-calc(16);
  line-height: em-calc(24,16);

  &.sm {
    font-size: rem-calc(14);
    line-height: em-calc(22,14);
  }

  &.xs {
    font-size: rem-calc(12);
    line-height: em-calc(18,12);
  }
}
