.button-primary {
  @include button;

  border: 2px solid $orange;
  background-color: $orange;
  text-align: center;
  color: $white;

  &:hover {
    border: 2px solid #FF7E61;
    background-color: #FF7E61;
    color: $white;
  }

  &:focus {
    background-color: #FF5A36;
    border: 2px solid #FF5A36;
    color: $white;
  }
}

.button-secondary{
  @include button;

  border: 2px solid $white;

  &:hover {
    border: 2px solid $white;
    background-color: $white;
    color: $aqua;
  }
}
